{% extends "blog/base.html" %}
{% block content %}
    <h2 class="Info2">Welcome to Student's Page</h2>
    <h3 class="Info content-section" style="color:blue;">Unfortunately , the result has not been declared yet</h3>
    <p class="Info content-section">
      <b>Please read the instructions given below if you are new to the System:</b>
      <br><br>
      1)Your marks will be visible in this page once the result is announced.
      <br><br>
      2)You can update your password by clicking on the Profile tab.
      <br><br>
      3)In case you are not satisfied with the marks you can lodge a complaint by clicking on the "Complain tab" on the Navbar.
      <br>
    </p>
{% endblock content %}
