{% extends "blog/base.html" %}
{% block content %}
  <h2 class="Info2 content-section">Welcome to Teacher's Page</h2>
  <br>
  <p class="Info content-section" style="height: 400px; overflow-y: scroll;">
    <b>Please read the instructions given below if you are new to the System:</b>
    <br><br>
    1)Click on "Add new Record" tab on the Navbar so as to start correcting paper of a student.
    <br><br>
    2)Click on "Update Marks" tab on the Navbar so as to update the marks of the student.
    <br><br>
    3)You can update your password by clicking on the Profile Tab.
    <br><br>
    4)Once a student makes a complaint you can see the complaint reflected on the Complaints tab.
    <br><br>
    5)Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    <br>
  </p>
{% endblock content %}
